/* Empty. Add your own CSS if you like */

body, .scroll-content, .menu {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#26558b+0,3a8bc2+16,4bb8f0+29,419ad6+41,3a84c3+49,6199c7+50,aac5de+83,cedbe9+100 */
background: rgb(59,103,158);
background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
}

.card, .item {
    background-color: rgba(255,255,255,0.08);
}

.cardMenu{
  background-color: rgba(255, 255, 255, 0.74);
  color: black !important;
  text-align: center !important;
  font-size: 20px;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  font-family: cursive;
}

.item-complex .item-content, .item-radio .item-content, .item {
	color: #FFF;
	background: none !important;
}
.pontuacao {
	width: 94px;
	height: 94px;
	padding: 37px 20px;
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    color: red;
    font-weight: bold;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}
.descricao {
	width: 100%;
	text-align: center;
	color: #FFF;
	padding: 30px 0px 20px 0px;
}
.item-text-wrap h2 {
	font-weight: bold;
	color: #FFF;
	text-align: center;
	font-size: 26px;
}

.info {
    width: 70%;
    margin: 0px auto;
    background-color: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
}

.txt-vermelho {
	color: red;
}
.txt-verde {
	color: green;
}
.button-light {
    border-radius: 50px;
    color: blue !important;
}

.iniciante {
    background: #1e5799;
}

.estudante {
    background: #d5cea6;
}

.esforcado {
    background: #9dd53a;
}

.professor {
    background: #45484d;
}

.mestre-dos-magos{
    background: #cc0000;
}






